<h1>Evening Report!</h1>
<form method="POST" action="/eveningReport">
    <label for="sports">sports and exercise: </label>
    <input type="number" name="sports" />

    <label for="study">study: </label>
    <input type="number" name="study" />

    <label for="eating">sports: </label>
    <input type="number" name="eating" />

    <label for="moodEvening">the generic mood </label>
    <input type="number" name="moodEvening" />

    <label for="sleepDuration">sports: </label>
    <input type="date" name="date" />
    
    <input type="submit" value="Login!" />
</form>