<%- include('./partials/header.ejs') %>
<h1>Evening Report!</h1>
<form method="POST" action="/eveningReport">
    <label for="sports">sports and exercise: </label>
    <input type="number" name="sports" min="0" max="24"/>

    <label for="study">study: </label>
    <input type="number" name="study"  min="0" max="24"/>

    <label for="eating">sports: </label>
    <input type="range" id="eating" name="eating" min="1" max="5" oninput="amountEating.value=eating.value" value="0"/>
    <output id="amountEating" name="amountEating" for="rangeInput">0</output>

    <label for="moodEvening">the generic mood </label>
    <input type="range" id="moodEvening" name="moodEvening" min="1" max="5" oninput="amountMoodEvening.value=moodEvening.value" value="0"/>
    <output id="amountMoodEvening" name="amountMoodEvening" for="rangeInput">0</output>

    <label for="sleepDuration">sports: </label>
    <input type="date" name="date"/>
    
    <input type="submit" value="submit!" />
</form>

<%- include('./partials/footer.ejs') %>

