<h1>Evening Report!</h1>
<form method="POST" action="/eveningReport">
    <input type="number" name="sports" />
    <input type="number" name="study" />
    <input type="number" name="eating" />
    <input type="number" name="moodEvening" />
    <input type="date" name="date" />
    <input type="submit" value="Login!" />
</form>