<h1>Mornging Report!</h1>
<form method="POST" action="/morningReport">
    <label for="sleepDuration">sleepDuration: </label>
    <input type="number" name="sleepDuration" />

    <label for="sleepDuration">sleepQuality: </label>
    <input type="number" name="sleepQuality" />

    <label for="sleepDuration">moodMorning: </label>
    <input type="number" name="moodMorning" />

    <label for="sleepDuration">date: </label>
    <input type="date" name="date" />
    <input type="submit" value="Login!" />
</form>